<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185420510517-3bfhc86m507511nbkkdslvin1lsor8v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185420510517-3bfhc86m507511nbkkdslvin1lsor8v7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-FdLg5y1MKhio_UMLUw9m8nh-5TgBDTo</string>
	<key>GCM_SENDER_ID</key>
	<string>185420510517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makegivelive.makegivelive-app1</string>
	<key>PROJECT_ID</key>
	<string>make-give-live</string>
	<key>STORAGE_BUCKET</key>
	<string>make-give-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185420510517:ios:40f38375b359951595487c</string>
</dict>
</plist>